Repository ZionetLearning/learning-teachin-zionet, pull requests merged in 2025-07, with the labels that each got.

#28 Shahar/18/build skeleton 3 services queue db
  .gitignore
  backend/ContainerApp/.dockerignore
  backend/ContainerApp/Accessor/Accessor.csproj
  backend/ContainerApp/Accessor/Dockerfile
  backend/ContainerApp/Accessor/Program.cs
  backend/ContainerApp/Accessor/Properties/launchSettings.json
  backend/ContainerApp/Accessor/appsettings.Development.json
  backend/ContainerApp/Accessor/appsettings.json
  backend/ContainerApp/Engine/Dockerfile
  backend/ContainerApp/Engine/Engine.csproj
  backend/ContainerApp/Engine/Program.cs
  backend/ContainerApp/Engine/Properties/launchSettings.json
  backend/ContainerApp/Engine/appsettings.Development.json
  backend/ContainerApp/Engine/appsettings.json
  backend/ContainerApp/Manager/Dockerfile
  backend/ContainerApp/Manager/Manager.csproj
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Properties/launchSettings.json
  backend/ContainerApp/Manager/appsettings.Development.json
  backend/ContainerApp/Manager/appsettings.json
  backend/ContainerApp/README.md
  backend/ContainerApp/backend.sln
  backend/ContainerApp/dapr/components/pubsub.yaml
  backend/ContainerApp/dapr/config.yaml
  backend/ContainerApp/docker-compose.dcproj
  backend/ContainerApp/docker-compose.yaml
  backend/ContainerApp/servicebus-emulator/config.json
Labels: backend

#26 daniel/1/create-chat-component
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/features/chat/chat-da/components/ChatHeader/icons/ChatIcon.tsx
  frontend/src/features/chat/chat-da/components/ChatHeader/icons/index.ts
  frontend/src/features/chat/chat-da/components/ChatHeader/index.tsx
  frontend/src/features/chat/chat-da/components/ChatHeader/style.ts
  frontend/src/features/chat/chat-da/components/ChatInput/icons/SendIcon.tsx
  frontend/src/features/chat/chat-da/components/ChatInput/icons/index.ts
  frontend/src/features/chat/chat-da/components/ChatInput/index.tsx
  frontend/src/features/chat/chat-da/components/ChatInput/style.ts
  frontend/src/features/chat/chat-da/components/ChatMessage/index.tsx
  frontend/src/features/chat/chat-da/components/ChatMessage/style.ts
  frontend/src/features/chat/chat-da/components/index.ts
  frontend/src/features/chat/chat-da/context/chat-context/index.ts
  frontend/src/features/chat/chat-da/hooks/index.ts
  frontend/src/features/chat/chat-da/hooks/useChat.ts
  frontend/src/features/chat/chat-da/index.tsx
  frontend/src/features/chat/chat-da/mock-eventsource/index.ts
  frontend/src/features/chat/chat-da/providers/chat-provider/index.tsx
  frontend/src/features/chat/chat-da/style.ts
  frontend/src/features/chat/chat-da/views/FullScreenChat.tsx
  frontend/src/features/chat/chat-da/views/SidebarChat.tsx
  frontend/src/features/chat/chat-da/views/index.ts
  frontend/src/pages/ChatDaPage.tsx
  frontend/src/pages/style.ts
  frontend/src/types/chat-da/index.ts
  frontend/src/types/index.ts
Labels: frontend

#27 Daniel/13/add manager function
  .gitignore
  backend/functionsApp/AzureFunctionsProject.sln
  backend/functionsApp/AzureFunctionsProject/.gitignore
  backend/functionsApp/AzureFunctionsProject/Accessor/DataAccessorFunction.cs
  backend/functionsApp/AzureFunctionsProject/AzureFunctionsProject.csproj
  backend/functionsApp/AzureFunctionsProject/Common/Queues.cs
  backend/functionsApp/AzureFunctionsProject/Common/Routes.cs
  backend/functionsApp/AzureFunctionsProject/Manager/AccessorClient.cs
  backend/functionsApp/AzureFunctionsProject/Manager/IAccessorClient.cs
  backend/functionsApp/AzureFunctionsProject/Manager/ManagerFunction.cs
  backend/functionsApp/AzureFunctionsProject/Models/DataDto.cs
  backend/functionsApp/AzureFunctionsProject/Program.cs
  backend/functionsApp/AzureFunctionsProject/Properties/launchSettings.json
  backend/functionsApp/AzureFunctionsProject/Properties/serviceDependencies.json
  backend/functionsApp/AzureFunctionsProject/Properties/serviceDependencies.local.json
  backend/functionsApp/AzureFunctionsProject/host.json
  backend/functionsApp/AzureFunctionsProject/local.settings.json
Labels: backend

#53 Shirley/1/chat feature with azure open ai
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/features/chat/chat-sh/assets/ai-avatar.svg
  frontend/src/features/chat/chat-sh/index.tsx
  frontend/src/features/chat/chat-sh/services/index.ts
  frontend/src/features/chat/chat-sh/services/open-ai-service/index.tsx
  frontend/src/features/chat/chat-sh/style.ts
  frontend/src/features/chat/index.ts
  frontend/src/pages/ChatShPage.tsx
  frontend/src/pages/HomePages.tsx
  frontend/src/pages/index.ts
Labels: frontend

#49 adding GET/POST endpoints
  backend/ContainerApp/Accessor/Accessor.csproj
  backend/ContainerApp/Accessor/Constants/QueueNames.cs
  backend/ContainerApp/Accessor/Endpoints/AccessorEndpoints.cs
  backend/ContainerApp/Accessor/Models/TaskModel.cs
  backend/ContainerApp/Accessor/Program.cs
  backend/ContainerApp/Accessor/Services/AccessorService.cs
  backend/ContainerApp/Accessor/Services/IAccessorService.cs
  backend/ContainerApp/Accessor/appsettings.json
  backend/ContainerApp/Engine/Constants/QueueNames.cs
  backend/ContainerApp/Engine/Endpoints/EngineEndpoints.cs
  backend/ContainerApp/Engine/Engine.csproj
  backend/ContainerApp/Engine/Models/TaskModel.cs
  backend/ContainerApp/Engine/Program.cs
  backend/ContainerApp/Engine/Services/EngineService.cs
  backend/ContainerApp/Engine/Services/IEngineService.cs
  backend/ContainerApp/Manager/Constants/QueueNames.cs
  backend/ContainerApp/Manager/Endpoints/ManagerEndpoints.cs
  backend/ContainerApp/Manager/Manager.csproj
  backend/ContainerApp/Manager/Models/TaskModel.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Services/IManagerService.cs
  backend/ContainerApp/Manager/Services/ManagerService.cs
  backend/ContainerApp/dapr/components/engine-to-accessor-input.yaml
  backend/ContainerApp/dapr/components/engine-to-accessor.yaml
  backend/ContainerApp/dapr/components/manager-to-engine-input.yaml
  backend/ContainerApp/dapr/components/manager-to-engine.yaml
  backend/ContainerApp/dapr/components/pubsub.yaml
  backend/ContainerApp/docker-compose.yaml
  backend/ContainerApp/servicebus-emulator/config.json
Labels: backend

#63 Shahar/20/implement put and delete methods inside the services
  backend/ContainerApp/Accessor/Accessor.csproj
  backend/ContainerApp/Accessor/Constants/QueueNames.cs
  backend/ContainerApp/Accessor/DB/AccessorDbContext.cs
  backend/ContainerApp/Accessor/Endpoints/AccessorEndpoints.cs
  backend/ContainerApp/Accessor/Migrations/20250723080155_InitialCreate.Designer.cs
  backend/ContainerApp/Accessor/Migrations/20250723080155_InitialCreate.cs
  backend/ContainerApp/Accessor/Migrations/AccessorDbContextModelSnapshot.cs
  backend/ContainerApp/Accessor/Models/TaskModel.cs
  backend/ContainerApp/Accessor/Models/UpdateTaskName.cs
  backend/ContainerApp/Accessor/Program.cs
  backend/ContainerApp/Accessor/Services/AccessorService.cs
  backend/ContainerApp/Accessor/Services/IAccessorService.cs
  backend/ContainerApp/Accessor/appsettings.json
  backend/ContainerApp/Manager/Constants/QueueNames.cs
  backend/ContainerApp/Manager/Endpoints/ManagerEndpoints.cs
  backend/ContainerApp/Manager/Manager.csproj
  backend/ContainerApp/Manager/Models/TaskModel.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Services/IManagerService.cs
  backend/ContainerApp/Manager/Services/ManagerService.cs
  backend/ContainerApp/backend.sln
  backend/ContainerApp/dapr/components/taskupdate-input.yaml
  backend/ContainerApp/dapr/components/taskupdate.yaml
  backend/ContainerApp/docker-compose.yaml
  backend/ContainerApp/servicebus-emulator/config.json
Labels: backend

#67 Daniel/3/speaking avatar
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/features/avatar/avatar-da/assets/animations/Idle.fbx
  frontend/src/features/avatar/avatar-da/assets/animations/Talking.fbx
  frontend/src/features/avatar/avatar-da/assets/index.ts
  frontend/src/features/avatar/avatar-da/assets/models/687e38191c3d7336a8763d55.glb
  frontend/src/features/avatar/avatar-da/assets/textures/background.jpg
  frontend/src/features/avatar/avatar-da/components/Avatar/index.tsx
  frontend/src/features/avatar/avatar-da/components/Avatar/style.ts
  frontend/src/features/avatar/avatar-da/index.tsx
  frontend/src/features/avatar/avatar-da/style.ts
  frontend/src/features/avatar/avatar-da/views/index.tsx
  frontend/src/features/avatar/avatar-sh/assets/lips/index.ts
  frontend/src/features/avatar/avatar-sh/index.tsx
  frontend/src/features/avatar/index.ts
  frontend/src/features/chat/chat-ou/components/MessageInput/index.tsx
  frontend/src/features/chat/chat-ou/components/MessageItem/index.tsx
  frontend/src/features/chat/chat-ou/components/MessageItem/style.ts
  frontend/src/features/chat/chat-ou/components/MessageList/index.tsx
  frontend/src/features/chat/chat-ou/components/MessageList/style.ts
  frontend/src/features/chat/chat-ou/components/MessageRenderers/GenerativeUIMessage/index.tsx
  frontend/src/features/chat/chat-ou/components/MessageRenderers/LinkMessage/index.tsx
  frontend/src/features/chat/chat-ou/components/MessageRenderers/LinkMessage/style.ts
  frontend/src/features/chat/chat-ou/components/MessageRenderers/QuizMessage/index.tsx
  frontend/src/features/chat/chat-ou/hooks/useChat.ts
  frontend/src/features/chat/chat-ou/hooks/useContext.ts
  frontend/src/features/chat/chat-ou/index.tsx
  frontend/src/features/chat/chat-ou/services/ContextService.ts
  frontend/src/features/chat/chat-ou/services/MessageService.ts
  frontend/src/features/chat/chat-ou/services/MockAIService.ts
  frontend/src/features/chat/chat-ou/services/MockMessages.ts
  frontend/src/features/chat/chat-ou/style.ts
  frontend/src/features/chat/chat-ou/types/Services.ts
  frontend/src/features/chat/chat-sh/index.tsx
  frontend/src/pages/AvatarDaPage.tsx
  frontend/src/pages/ChatOuPage.tsx
  frontend/src/pages/HomePages.tsx
  frontend/src/pages/index.ts
  frontend/src/pages/style.ts
Labels: frontend

#74 Benny avichai/kubernetes cicd - initial cicd testing
  .github/workflows/aks-full-cicd.yml
  .github/workflows/aks-healthcheck.yml
  .github/workflows/aks-kubectl-apply.yml
  .github/workflows/aks-terraform-apply.yml
  .github/workflows/aks-terraform-destroy
Labels: devops

#71 Daniel strauss/16/setup a service bus emulator
  backend/functionsApp/AzureFunctionsProject.sln
  backend/functionsApp/AzureFunctionsProject/Accessor/DataAccessorFunction.cs
  backend/functionsApp/AzureFunctionsProject/AzureFunctionsProject.csproj
  backend/functionsApp/AzureFunctionsProject/Common/Queues.cs
  backend/functionsApp/AzureFunctionsProject/Common/Routes.cs
  backend/functionsApp/AzureFunctionsProject/Engine/EngineFunction.cs
  backend/functionsApp/AzureFunctionsProject/Exceptions/AccessorClientException.cs
  backend/functionsApp/AzureFunctionsProject/Exceptions/EngineClientException.cs
  backend/functionsApp/AzureFunctionsProject/Manager/AccessorClient.cs
  backend/functionsApp/AzureFunctionsProject/Manager/DataManagerFunction.cs
  backend/functionsApp/AzureFunctionsProject/Manager/EngineClient.cs
  backend/functionsApp/AzureFunctionsProject/Manager/IEngineClient.cs
  backend/functionsApp/AzureFunctionsProject/Models/EngineProcessResult.cs
  backend/functionsApp/AzureFunctionsProject/Models/QueueEnvelope.cs
  backend/functionsApp/AzureFunctionsProject/Models/QueueMessage.cs
  backend/functionsApp/AzureFunctionsProject/Program.cs
  backend/functionsApp/AzureFunctionsProject/Services/DataService.cs
  backend/functionsApp/AzureFunctionsProject/Services/IDataService.cs
  backend/functionsApp/AzureFunctionsProject/local.settings.json
  backend/functionsApp/config.json
  backend/functionsApp/docker-compose.yml
Labels: backend

#76 ouriel/57/typing-practice-by-listening---hebrew-typing-practice-feature
  frontend/src/App.tsx
  frontend/src/components/BackToMenuLayout/index.tsx
  frontend/src/components/BackToMenuLayout/style.ts
  frontend/src/features/index.ts
  frontend/src/features/typing-practice/components/AudioControls/index.tsx
  frontend/src/features/typing-practice/components/AudioControls/style.ts
  frontend/src/features/typing-practice/components/FeedbackDisplay/index.tsx
  frontend/src/features/typing-practice/components/FeedbackDisplay/style.ts
  frontend/src/features/typing-practice/components/LevelSelection/index.tsx
  frontend/src/features/typing-practice/components/LevelSelection/style.ts
  frontend/src/features/typing-practice/components/index.ts
  frontend/src/features/typing-practice/data.ts
  frontend/src/features/typing-practice/hooks/index.ts
  frontend/src/features/typing-practice/hooks/useTypingPractice.ts
  frontend/src/features/typing-practice/index.tsx
  frontend/src/features/typing-practice/style.ts
  frontend/src/features/typing-practice/types.ts
  frontend/src/features/typing-practice/utils.ts
  frontend/src/pages/HomePages.tsx
  frontend/src/pages/TypingPracticePage.tsx
  frontend/src/pages/index.ts
  frontend/src/pages/style.ts
  frontend/src/services/azureTTS.ts
  frontend/src/services/index.ts
Labels: frontend

#80 Shahar/update readme
  backend/ContainerApp/README.md
Labels: backend

#68 Shahar/50/connect to postgres db
  backend/ContainerApp/Accessor/Endpoints/AccessorEndpoints.cs
  backend/ContainerApp/Accessor/Services/AccessorService.cs
  backend/ContainerApp/Engine/Endpoints/EngineEndpoints.cs
  backend/ContainerApp/Engine/Services/EngineService.cs
  backend/ContainerApp/Manager/Endpoints/ManagerEndpoints.cs
  backend/ContainerApp/Manager/Services/ManagerService.cs
  backend/ContainerApp/docker-compose.dcproj
  backend/ContainerApp/docker-compose.yaml
Labels: backend

#93 ouriel/61/error-boundary---sentry-integration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/chat/chat-ou/index.tsx
  frontend/src/pages/ChatOuPage.tsx
  frontend/src/services/index.ts
  frontend/src/services/sentry.ts
Labels: frontend

#123 Daniel/54/speaking practice
  frontend/src/App.tsx
  frontend/src/features/avatar/avatar-da/components/Avatar/index.tsx
  frontend/src/features/chat/chat-yo/hooks/index.ts
  frontend/src/features/chat/chat-yo/hooks/useChat.ts
  frontend/src/features/chat/chat-yo/index.tsx
  frontend/src/features/chat/chat-yo/services/azure-openAI/index.tsx
  frontend/src/features/chat/chat-yo/services/index.ts
  frontend/src/features/chat/chat-yo/style.ts
  frontend/src/features/index.ts
  frontend/src/features/speaking-practice/index.tsx
  frontend/src/features/speaking-practice/style.ts
  frontend/src/features/speaking-practice/utils/index.ts
  frontend/src/features/typing-practice/hooks/index.ts
  frontend/src/features/typing-practice/hooks/useTypingPractice.ts
  frontend/src/features/typing-practice/index.tsx
  frontend/src/pages/HomePages.tsx
  frontend/src/pages/SpeakingPracticePage.tsx
  frontend/src/pages/index.ts
  frontend/src/services/index.ts
Labels: frontend

#121 Ouriel/96/create signalr in container app
  backend/ContainerApp/Manager/Hubs/NotificationHub.cs
  backend/ContainerApp/Manager/Models/NotificationMessage.cs
  backend/ContainerApp/Manager/Models/TaskUpdateMessage.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/SignalREmulator/Dockerfile
  backend/ContainerApp/SignalREmulator/settings.json
  backend/ContainerApp/backend.sln
  backend/ContainerApp/docker-compose.yaml
Labels: backend

#122 Shahar/98/refactor api handlers in minimal api
  backend/ContainerApp/Accessor/Endpoints/AccessorEndpoints.cs
  backend/ContainerApp/AccessorUnitTests/AccessorEndpointsTests.cs
  backend/ContainerApp/Engine/Endpoints/AiEndpoints.cs
  backend/ContainerApp/Engine/Endpoints/EngineEndpoints.cs
  backend/ContainerApp/Engine/Services/EngineService.cs
  backend/ContainerApp/Manager/Endpoints/AiEndpoints.cs
  backend/ContainerApp/Manager/Endpoints/ManagerEndpoints.cs
  backend/ContainerApp/Manager/Services/ManagerService.cs
Labels: backend

#128 Yonatan/126/Unit-testing-Snapshot-testing-with-Vitest
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/.storybook/vitest.setup.ts
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AppInsightsErrorBoundary/index.tsx
  frontend/src/features/avatar/avatar-sh/index.tsx
  frontend/src/features/chat/chat-ou/index.tsx
  frontend/src/features/chat/chat-yo/__tests__/ChatYo.test.tsx
  frontend/src/features/chat/chat-yo/__tests__/__snapshots__/ChatYo.test.tsx.snap
  frontend/src/features/chat/chat-yo/chatYo.stories.tsx
  frontend/src/features/index.ts
  frontend/src/main.tsx
  frontend/src/services/index.ts
  frontend/src/test/setup.ts
  frontend/vite.config.ts
Labels: frontend

#134 Yonatan/132/Create a Storybook for Word-Order-Game
  frontend/src/features/word-order-game/word-order-game.stories.tsx
Labels: frontend, storybook

#127 ouriel/21/create-skeleton-for-integration-tests--get--post
  backend/IntegretionTest/Helpers/TestDataHelper.cs
  backend/IntegretionTest/Infrastructure/HttpTestFixture.cs
  backend/IntegretionTest/Infrastructure/IntegrationTestBase.cs
  backend/IntegretionTest/IntegrationTests.csproj
  backend/IntegretionTest/IntegretionTest.sln
  backend/IntegretionTest/Models/TaskModel.cs
  backend/IntegretionTest/Properties/launchSettings.json
  backend/IntegretionTest/Tests/Tasks/TaskIntegrationTests.cs
  backend/IntegretionTest/Tests/Tasks/TaskTestBase.cs
Labels: backend

#131 Ouriel/104/create accessorclient engineclient services
  backend/ContainerApp/Manager/Models/TaskNameUpdateModel.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Services/Clients/AccessorClient.cs
  backend/ContainerApp/Manager/Services/Clients/EngineClient.cs
  backend/ContainerApp/Manager/Services/Clients/IAccessorClient.cs
  backend/ContainerApp/Manager/Services/Clients/IEngineClient.cs
  backend/ContainerApp/Manager/Services/ManagerService.cs
Labels: backend

#144 Yonatan/138/create a i18 transalte provider and wrap our app with that (react i18next)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/i18n/locale/en.json
  frontend/src/i18n/locale/he.json
  frontend/src/i18n/locale/index.ts
  frontend/src/main.tsx
  frontend/src/providers/i18n-translate-provider/index.tsx
Labels: frontend

#153 Daniel/125/jest testing
  frontend/jest.config.ts
  frontend/jest.setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/practice/speaking-practice/__tests__/__mocks__/fileMock.js
  frontend/src/features/practice/speaking-practice/__tests__/__mocks__/microsoft-cognitiveservices-speech-sdk.ts
  frontend/src/features/practice/speaking-practice/__tests__/__snapshots__/snapshot.test.tsx.snap
  frontend/src/features/practice/speaking-practice/__tests__/interactions.test.tsx
  frontend/src/features/practice/speaking-practice/__tests__/navigation.test.tsx
  frontend/src/features/practice/speaking-practice/__tests__/nikudToggle.test.tsx
  frontend/src/features/practice/speaking-practice/__tests__/sanity.test.ts
  frontend/src/features/practice/speaking-practice/__tests__/snapshot.test.tsx
  frontend/src/features/practice/speaking-practice/__tests__/speechRecognition.test.tsx
  frontend/src/features/practice/speaking-practice/__tests__/utils.comparePhrases.test.ts
  frontend/src/features/practice/speaking-practice/index.tsx
  frontend/src/features/practice/speaking-practice/utils/comparePhrases.ts
  frontend/src/features/practice/speaking-practice/utils/index.ts
  frontend/src/features/practice/speaking-practice/utils/phrases.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: frontend

#158 Avichai benny/grafana with prometheues and loki
  devops/README.md
  devops/infra/dashboards/K8S-dashboard.json
  devops/infra/dashboards/cluster-overview.json
  devops/infra/dashboards/deployments.json
  devops/infra/dashboards/node-exporter.json
  devops/infra/datasources.yaml
  devops/infra/loki/loki.sh
  devops/infra/loki/pod-logs-dashboard.yaml
  devops/infra/loki/values-loki.yaml
  devops/infra/main.tf
  devops/infra/modules/grafana/main.tf
  devops/infra/modules/grafana/outputs.tf
  devops/infra/modules/grafana/variables.tf
  devops/infra/modules/prometheus/main.tf
  devops/infra/modules/prometheus/variables.tf
  devops/infra/outputs.tf
  devops/infra/variables.tf
  devops/start-cloud.sh
Labels: devops

#162 Daniel Strauss/101/Set rule/setting to treat warnings as compile error
  backend/ContainerApp/Directory.Build.props
Labels: backend
