Repository ZionetLearning/learning-teachin-zionet, pull requests merged in 2025-08, with the labels that each got.

#173 use .net 9 instead .net 8
  backend/ContainerApp/Accessor/Accessor.csproj
  backend/ContainerApp/ApiGateway/ApiGateway.csproj
  backend/ContainerApp/ApiGateway/Dockerfile
Labels: backend

#163 Add contextual chat with ChatHistory and system prompt support; refactor tests
  backend/ContainerApp/Engine/Constants/CacheKeys.cs
  backend/ContainerApp/Engine/Endpoints/AiEndpoints.cs
  backend/ContainerApp/Engine/Models/AiRequestModel.cs
  backend/ContainerApp/Engine/Models/AiResponseModel.cs
  backend/ContainerApp/Engine/Program.cs
  backend/ContainerApp/Engine/Services/ChatAiService.cs
  backend/ContainerApp/Engine/Services/ISystemPromptProvider.cs
  backend/ContainerApp/Engine/Services/SystemPromptProvider.cs
  backend/ContainerApp/Engine/appsettings.Development.json
  backend/ContainerApp/Engine/appsettings.json
  backend/ContainerApp/EngineComponentTests/ChatAiServiceTests.cs
  backend/ContainerApp/EngineComponentTests/appsettings.Test.json
  backend/ContainerApp/Manager/Constants/AiSettings.cs
  backend/ContainerApp/Manager/Endpoints/AiEndpoints.cs
  backend/ContainerApp/Manager/Models/AiRequestModel.cs
  backend/ContainerApp/Manager/Models/AiResponseModel.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Services/AiGatewayService.cs
  backend/ContainerApp/Manager/Services/IAiGatewayService.cs
  backend/ContainerApp/Manager/appsettings.Development.json
  backend/ContainerApp/Manager/appsettings.json
  backend/ContainerApp/backend.sln
Labels: backend

#146 Alexandr/94/listener
  .gitignore
  backend/ContainerApp/Engine/Endpoints/EngineEndpoints.cs
  backend/ContainerApp/Engine/Endpoints/EngineQueueHandler.cs
  backend/ContainerApp/Engine/Engine.csproj
  backend/ContainerApp/Engine/Messaging/AzureServiceBusQueueListener.cs
  backend/ContainerApp/Engine/Messaging/Exceptions.cs
  backend/ContainerApp/Engine/Messaging/IQueueHandler.cs
  backend/ContainerApp/Engine/Messaging/IQueueListener.cs
  backend/ContainerApp/Engine/Messaging/IRetryPolicyProvider.cs
  backend/ContainerApp/Engine/Messaging/QueueProcessor.cs
  backend/ContainerApp/Engine/Messaging/QueueSettings.cs
  backend/ContainerApp/Engine/Messaging/ServiceCollectionExtensions.cs
  backend/ContainerApp/Engine/Program.cs
  backend/ContainerApp/Engine/Services/EngineService.cs
  backend/ContainerApp/Engine/Services/IEngineService.cs
  backend/ContainerApp/Engine/appsettings.Development.json
  backend/ContainerApp/Engine/appsettings.json
  backend/ContainerApp/docker-compose.dcproj
  backend/ContainerApp/docker-compose.yml
Labels: backend

#180 added pvc to loki, and improved the dashboard - now its very good.
  .github/workflows/aks-kubectl-apply.yml
  devops/infra/loki/pod-logs-dashboard.yaml
  devops/infra/loki/values-loki.yaml
Labels: devops

#176 Daniel strauss/103/use records not classes for models
  backend/ContainerApp/Accessor/Models/TaskModel.cs
  backend/ContainerApp/Accessor/Models/UpdateTaskName.cs
  backend/ContainerApp/Engine/Models/AiRequestModel.cs
  backend/ContainerApp/Engine/Models/AiResponseModel.cs
  backend/ContainerApp/Engine/Models/AzureOpenAiSettings.cs
  backend/ContainerApp/Engine/Models/TaskModel.cs
  backend/ContainerApp/Manager/Models/AiRequestModel.cs
  backend/ContainerApp/Manager/Models/AiResponseModel.cs
  backend/ContainerApp/Manager/Models/NotificationMessage.cs
  backend/ContainerApp/Manager/Models/TaskModel.cs
  backend/ContainerApp/Manager/Models/TaskUpdateMessage.cs
Labels: backend

#196 continue test integration
  backend/ContainerApp/Manager/Manager.csproj
  backend/ContainerApp/Manager/Services/Clients/AccessorClient.cs
  backend/IntegrationTest/Constants/ApiRoutes.cs
  backend/IntegrationTest/Helpers/ResponseAssertions.cs
  backend/IntegrationTest/Helpers/TaskTestData.cs
  backend/IntegrationTest/Helpers/TaskUpdateHelper.cs
  backend/IntegrationTest/Helpers/TestDataHelper.cs
  backend/IntegrationTest/Infrastructure/HttpTestFixture.cs
  backend/IntegrationTest/Infrastructure/IntegrationTestBase.cs
  backend/IntegrationTest/IntegrationTests.csproj
  backend/IntegrationTest/IntegretionTest.sln
  backend/IntegrationTest/Models/TaskModel.cs
  backend/IntegrationTest/Properties/launchSettings.json
  backend/IntegrationTest/Tests/Tasks/TaskIntegrationTests.cs
  backend/IntegrationTest/Tests/Tasks/TaskTestBase.cs
Labels: backend

#206 remove unnecessarily duplicate directory
  backend/IntegretionTest/Helpers/TestDataHelper.cs
  backend/IntegretionTest/Infrastructure/HttpTestFixture.cs
  backend/IntegretionTest/Infrastructure/IntegrationTestBase.cs
  backend/IntegretionTest/IntegrationTests.csproj
  backend/IntegretionTest/IntegretionTest.sln
  backend/IntegretionTest/Models/TaskModel.cs
  backend/IntegretionTest/Properties/launchSettings.json
  backend/IntegretionTest/Tests/Tasks/TaskIntegrationTests.cs
  backend/IntegretionTest/Tests/Tasks/TaskTestBase.cs
Labels: backend

#201 Refactoring system promt and tests #197
  backend/ContainerApp/Engine/Constants/Prompts.cs
  backend/ContainerApp/Engine/Program.cs
  backend/ContainerApp/Engine/Services/ChatAiService.cs
  backend/ContainerApp/Engine/Services/ISystemPromptProvider.cs
  backend/ContainerApp/Engine/Services/SystemPromptProvider.cs
  backend/ContainerApp/Engine/appsettings.Development.json
  backend/ContainerApp/Engine/appsettings.json
  backend/ContainerApp/EngineComponentTests/ChatAiServiceTests.cs
Labels: backend

#191 Avichai/aks scaling
  devops/infra/main.tf
  devops/infra/modules/aks/main.tf
  devops/infra/modules/aks/variables.tf
Labels: devops

#212 Shirley/204/earthquake map
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/SidebarMenu/index.tsx
  frontend/src/features/earthquake-map/api.ts
  frontend/src/features/earthquake-map/index.tsx
  frontend/src/features/earthquake-map/style.ts
  frontend/src/features/earthquake-map/types.ts
  frontend/src/features/index.ts
  frontend/src/pages/EarthquakeMapPage.tsx
  frontend/src/pages/index.ts
Labels: frontend

#181 Shahar/86/log scopes
  backend/ContainerApp/Accessor/Endpoints/AccessorEndpoints.cs
  backend/ContainerApp/Accessor/appsettings.json
  backend/ContainerApp/AccessorUnitTests/AccessorEndpointsTests.cs
  backend/ContainerApp/Engine/Endpoints/AiEndpoints.cs
  backend/ContainerApp/Engine/appsettings.json
  backend/ContainerApp/Manager/Endpoints/AiEndpoints.cs
  backend/ContainerApp/Manager/Endpoints/ManagerEndpoints.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Services/Clients/AccessorClient.cs
  backend/ContainerApp/Manager/appsettings.json
Labels: backend

#228 Benny/added alot of cicd stuff
  .github/workflows/aks-schedule.yml
  .github/workflows/aks-toggle.yaml
  .github/workflows/cicd-readme.md
  .github/workflows/restart-pods.yaml
  .github/workflows/update-images.yaml
Labels: devops

#236 ouriel/235/bug-in-chat-ou
  frontend/src/features/chat/chat-ou/services/MockAIService.ts
Labels: bug, frontend

#221 Daniel strauss/182/use new queue listener in accessor
  backend/ContainerApp/Accessor/Accessor.csproj
  backend/ContainerApp/Accessor/Constants/QueueNames.cs
  backend/ContainerApp/Accessor/Endpoints/AccessorEndpoints.cs
  backend/ContainerApp/Accessor/Messaging/AccessorCreateTaskHandler.cs
  backend/ContainerApp/Accessor/Messaging/AccessorUpdateTaskNameHandler.cs
  backend/ContainerApp/Accessor/Messaging/AzureServiceBusQueueListener.cs
  backend/ContainerApp/Accessor/Messaging/Exceptions.cs
  backend/ContainerApp/Accessor/Messaging/IQueueHandler.cs
  backend/ContainerApp/Accessor/Messaging/IQueueListener.cs
  backend/ContainerApp/Accessor/Messaging/IRetryPolicyProvider.cs
  backend/ContainerApp/Accessor/Messaging/QueueProcessor.cs
  backend/ContainerApp/Accessor/Messaging/QueueSettings.cs
  backend/ContainerApp/Accessor/Messaging/ServiceCollectionExtensions.cs
  backend/ContainerApp/Accessor/Models/TaskModel.cs
  backend/ContainerApp/Accessor/Models/UpdateTaskName.cs
  backend/ContainerApp/Accessor/Program.cs
  backend/ContainerApp/Accessor/appsettings.json
  backend/ContainerApp/Engine/Services/EngineService.cs
Labels: backend

#220 Add time plugin for AI
  backend/ContainerApp/Engine/Plugins/ISemanticKernelPlugin.cs
  backend/ContainerApp/Engine/Plugins/PluginNameExtensions.cs
  backend/ContainerApp/Engine/Plugins/TimePlugin.cs
  backend/ContainerApp/Engine/Program.cs
  backend/ContainerApp/Engine/Services/DateTimeProvider.cs
  backend/ContainerApp/Engine/Services/IDateTimeProvider.cs
Labels: backend

#244 fix bug
  backend/ContainerApp/Accessor/Messaging/QueueProcessor.cs
Labels: bug, backend

#247 shirley/226/fix-marker-of-earthquake-map-for-deploy
  frontend/public/map-marker.png
  frontend/src/features/earthquake-map/index.tsx
Labels: bug, frontend

#245 Update Azure Speech and OpenAI keys to empty strings in deployment & Update Dapr version on k8s
  .github/workflows/deploy-frontend.yml
  devops/helm-tools/dapr-control-plane.sh
Labels: devops

#242 Snir/add security https to ingress
  .github/workflows/aks-kubectl-apply.yml
  devops/README.md
  devops/helm-tools/grafana.sh
  devops/helm-tools/setup-https.sh
  devops/helm-tools/setup-ingress-controller.sh
  devops/kubernetes/ingress/grafana-ingress.yaml
  devops/kubernetes/ingress/letsencrypt-clusterissuer.yaml
  devops/kubernetes/ingress/manager-ingress.yaml
Labels: devops

#243 gave more space to hours because of timing israel - utc
  .github/workflows/aks-schedule.yml
Labels: devops

#254 Shirley/252/vitest tests chatSh+avatarSh
  frontend/README.md
  frontend/src/features/avatar/avatar-sh/__tests__/AvatarSh.test.tsx
  frontend/src/features/chat/chat-sh/__tests__/ChatSh.test.tsx
  frontend/src/features/chat/chat-yo/__tests__/ChatYo.test.tsx
  frontend/src/features/chat/chat-yo/__tests__/__snapshots__/ChatYo.test.tsx.snap
  frontend/src/features/practice/speaking-practice/__tests__/__snapshots__/snapshot.jest.test.tsx.snap
  frontend/src/features/practice/speaking-practice/__tests__/interactions.jest.test.tsx
  frontend/src/features/practice/speaking-practice/__tests__/navigation.jest.test.tsx
  frontend/src/features/practice/speaking-practice/__tests__/nikudToggle.jest.test.tsx
  frontend/src/features/practice/speaking-practice/__tests__/sanity.jest.test.ts
  frontend/src/features/practice/speaking-practice/__tests__/snapshot.jest.test.tsx
  frontend/src/features/practice/speaking-practice/__tests__/speechRecognition.jest.test.tsx
  frontend/src/features/practice/speaking-practice/__tests__/utils.comparePhrases.jest.test.ts
  frontend/vite.config.ts
Labels: frontend

#260 final fix related to https
  .github/workflows/aks-kubectl-apply.yml
  devops/helm-tools/setup-https.sh
Labels: devops

#266 Daniel/214/anime explorer
  frontend/index.html
  frontend/public/staticwebapp.config.json
  frontend/src/App.tsx
  frontend/src/api/chat.ts
  frontend/src/appInsights.ts
  frontend/src/components/SidebarMenu/index.tsx
  frontend/src/features/anime-explorer/api.ts
  frontend/src/features/anime-explorer/components/Card/index.tsx
  frontend/src/features/anime-explorer/components/Card/style.ts
  frontend/src/features/anime-explorer/components/Header/index.tsx
  frontend/src/features/anime-explorer/components/Header/style.ts
  frontend/src/features/anime-explorer/components/index.ts
  frontend/src/features/anime-explorer/index.tsx
  frontend/src/features/anime-explorer/style.ts
  frontend/src/features/anime-explorer/utils/index.ts
  frontend/src/features/chat/chat-ou/services/MockAIService.ts
  frontend/src/features/chat/chat-yo/__tests__/ChatYo.test.tsx
  frontend/src/features/index.ts
  frontend/src/features/practice/word-order-game/hooks/useHebrewSentence.ts
  frontend/src/features/weather-widget/index.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useChat.ts
  frontend/src/i18n/locale/en.json
  frontend/src/i18n/locale/he.json
  frontend/src/main.tsx
  frontend/src/pages/AnimeExplorerPage.tsx
  frontend/src/pages/index.ts
  frontend/src/types/anime-explorer/index.ts
  frontend/src/types/index.ts
  frontend/tsconfig.json
Labels: frontend

#250 ouriel/246/add-azuretts-to-backend---synchronous-version
  .gitignore
  backend/ContainerApp/Engine/Endpoints/AiEndpoints.cs
  backend/ContainerApp/Engine/Engine.csproj
  backend/ContainerApp/Engine/Models/Speech/AzureSpeechSettings.cs
  backend/ContainerApp/Engine/Models/Speech/SpeechMetadata.cs
  backend/ContainerApp/Engine/Models/Speech/SpeechRequestDto.cs
  backend/ContainerApp/Engine/Models/Speech/SpeechResponse.cs
  backend/ContainerApp/Engine/Models/Speech/VisemeData.cs
  backend/ContainerApp/Engine/Program.cs
  backend/ContainerApp/Engine/Services/AzureSpeechSynthesisService.cs
  backend/ContainerApp/Engine/Services/ISpeechSynthesisService.cs
  backend/ContainerApp/Engine/appsettings.Development.json
  backend/ContainerApp/Engine/appsettings.json
  backend/ContainerApp/Manager/Endpoints/AiEndpoints.cs
  backend/ContainerApp/Manager/Models/Speech/SpeechEngineResponse.cs
  backend/ContainerApp/Manager/Models/Speech/SpeechMetadata.cs
  backend/ContainerApp/Manager/Models/Speech/SpeechRequest.cs
  backend/ContainerApp/Manager/Models/Speech/SpeechResponse.cs
  backend/ContainerApp/Manager/Models/Speech/VisemeData.cs
  backend/ContainerApp/Manager/Services/Clients/EngineClient.cs
  backend/ContainerApp/Manager/Services/Clients/IEngineClient.cs
Labels: backend

#300 shirley/299/fix-bug-language-active-tab
  frontend/src/components/SidebarMenu/index.tsx
Labels: bug, frontend

#303 Shahar/256/error handling and retry for service bus message queue handlers
  backend/ContainerApp/Accessor/Endpoints/AccessorQueueHandler.cs
  backend/ContainerApp/Engine/Endpoints/EngineQueueHandler.cs
  backend/ContainerApp/Engine/Helpers/PayloadValidation.cs
  backend/ContainerApp/Manager/Endpoints/ManagerQueueHandler.cs
  backend/ContainerApp/backend.sln
Labels: backend

#309 Refactor unit tests and update project structure
  .github/workflows/run-unit-tests-on-pr.yml
  backend/ContainerApp/AccessorUnitTests/AccessorEndpointsTests.cs
  backend/ContainerApp/AccessorUnitTests/AccessorUnitTests.csproj
  backend/ContainerApp/UnitTests/AccessorUnitTests/AccessorUnitTests.csproj
  backend/ContainerApp/UnitTests/AccessorUnitTests/Endpoints/AccessorEndpointsTests.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/Endpoints/AccessorQueueHandlerTests.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/Services/AccessorServiceTests.cs
  backend/ContainerApp/UnitTests/EngineUnitTests/Endpoints/EngineQueueHandlerTests.cs
  backend/ContainerApp/UnitTests/EngineUnitTests/EngineUnitTests.csproj
  backend/ContainerApp/UnitTests/ManagerUnitTests/Endpoints/AiEndpointsTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Endpoints/ManagerEndpointsTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Endpoints/ManagerQueueHandlerTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Endpoints/PrivateInvoker.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Hubs/NotificationHubTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/ManagerUnitTests.csproj
  backend/ContainerApp/UnitTests/ManagerUnitTests/Messaging/QueueProcessorTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Messaging/RetryPolicyProviderTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Services/AiGatewayServiceTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Services/ManagerServiceTests.cs
  backend/ContainerApp/backend.sln
Labels: backend

#314 Shirley/301/replace application insights in sentry
  .github/workflows/deploy-frontend.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/appInsights.ts
  frontend/src/components/AppInsightsErrorBoundary/index.tsx
  frontend/src/components/index.ts
  frontend/src/main.tsx
  frontend/src/pages/ChatOuPage.tsx
  frontend/src/sentry.ts
  frontend/src/services/index.ts
  frontend/src/services/sentry.ts
  frontend/vite.config.ts
Labels: frontend

#335 Shahar/334/update postgres version
  backend/ContainerApp/docker-compose.yml
  devops/terraform/variables.tf
Labels: backend

#353 Shahar/317/accessor service db creation for refresh tokens
  .github/workflows/component-tests.yml
  backend/ContainerApp/Accessor/DB/AccessorDbContext.cs
  backend/ContainerApp/Accessor/DB/Configurations/RefreshSessionConfiguration.cs
  backend/ContainerApp/Accessor/Endpoints/AccessorEndpoints.cs
  backend/ContainerApp/Accessor/Migrations/20250723080155_InitialCreate.Designer.cs
  backend/ContainerApp/Accessor/Migrations/20250723080155_InitialCreate.cs
  backend/ContainerApp/Accessor/Migrations/20250727103123_AddUpdatedAtToTasks.Designer.cs
  backend/ContainerApp/Accessor/Migrations/20250727103123_AddUpdatedAtToTasks.cs
  backend/ContainerApp/Accessor/Migrations/20250729104546_RemoveUpdatedAtFromTasks.Designer.cs
  backend/ContainerApp/Accessor/Migrations/20250729104546_RemoveUpdatedAtFromTasks.cs
  backend/ContainerApp/Accessor/Migrations/20250810091144_AddIdempotencyTable.Designer.cs
  backend/ContainerApp/Accessor/Migrations/20250810091144_AddIdempotencyTable.cs
  backend/ContainerApp/Accessor/Migrations/20250812131451_ChangeIdempotencyToDateTimeOffset.cs
  backend/ContainerApp/Accessor/Migrations/20250817095535_InitialCreate.Designer.cs
  backend/ContainerApp/Accessor/Migrations/20250817095535_InitialCreate.cs
  backend/ContainerApp/Accessor/Migrations/AccessorDbContextModelSnapshot.cs
  backend/ContainerApp/Accessor/Models/RefreshSessionsRecord.cs
  backend/ContainerApp/ComponentTests/AccessorComponentTests/AccessorComponentTests.cs
  backend/ContainerApp/ComponentTests/AccessorComponentTests/AccessorComponentTests.csproj
  backend/ContainerApp/ComponentTests/AccessorComponentTests/ChatEndpointsComponentTests.cs
  backend/ContainerApp/ComponentTests/EngineComponentTests/EngineComponentTests.csproj
  backend/ContainerApp/ComponentTests/EngineComponentTests/appsettings.Development.json
  backend/ContainerApp/ComponentTests/EngineComponentTests/appsettings.json
  backend/ContainerApp/EngineComponentTests/ChatAiServiceTests.cs
  backend/ContainerApp/EngineComponentTests/EngineComponentTests.csproj
  backend/ContainerApp/EngineComponentTests/TestKernelFixture.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/Endpoints/AccessorEndpointsTests.cs
  backend/ContainerApp/backend.sln
  backend/IntegrationTest/Constants/ApiRoutes.cs
  backend/IntegrationTest/Infrastructure/AccessorHttpTestFixture.cs
  backend/IntegrationTest/Infrastructure/AccessorIntegrationTestBase.cs
  backend/IntegrationTest/Infrastructure/IntegrationTestBase.cs
  backend/IntegrationTest/Models/ChatMessageDto.cs
  backend/IntegrationTest/Models/ChatMessageRequest.cs
  backend/IntegrationTest/Models/ChatThreadDto.cs
  backend/IntegrationTest/Tests/Chat/ChatHistoryIntegrationTests.cs
  frontend/WORKFLOW.md
Labels: backend

#355 Daniel strauss/263/add approval tests for complex output validation
  backend/ContainerApp/UnitTests/AccessorUnitTests/AccessorUnitTests.csproj
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/AccessorQueueHandler_Invalid_Approval.Invalid_Message_Shapes_ErrorContract_Is_Approved.QueueHandler_InvalidId.received.json
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/AccessorQueueHandler_Invalid_Approval.Invalid_Message_Shapes_ErrorContract_Is_Approved.QueueHandler_MissingName.received.json
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/AccessorQueueHandler_Invalid_Approval.Invalid_Message_Shapes_ErrorContract_Is_Approved.QueueHandler_NullPayload.received.json
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/AccessorQueueHandler_Invalid_Approval.Invalid_Message_Shapes_ErrorContract_Is_Approved.QueueHandler_UnknownAction.received.json
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/AccessorQueueHandler_Invalid_Approval.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/AccessorService_ThreadsList_Approval.GetThreadsForUser_Snapshot_Projection_And_Order.ThreadsList_alice.received.json
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/AccessorService_ThreadsList_Approval.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/ApprovalSetup.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/ApprovalTestsConfig.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/Approvals/AccessorQueueHandler_Invalid_Approval.Invalid_Message_Shapes_ErrorContract_Is_Approved.QueueHandler_InvalidId.approved.json
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/Approvals/AccessorQueueHandler_Invalid_Approval.Invalid_Message_Shapes_ErrorContract_Is_Approved.QueueHandler_MissingName.approved.json
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/Approvals/AccessorQueueHandler_Invalid_Approval.Invalid_Message_Shapes_ErrorContract_Is_Approved.QueueHandler_NullPayload.approved.json
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/Approvals/AccessorQueueHandler_Invalid_Approval.Invalid_Message_Shapes_ErrorContract_Is_Approved.QueueHandler_UnknownAction.approved.json
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/Approvals/AccessorService_ThreadsList_Approval.GetThreadsForUser_Snapshot_Projection_And_Order.ThreadsList_alice.approved.json
Labels: backend

#346 Add Manager endpoints for the auth. create auth Service and JWT middl…
  backend/ContainerApp/Manager/Constants/AuthSettings.cs
  backend/ContainerApp/Manager/Endpoints/AuthEndpoints.cs
  backend/ContainerApp/Manager/Endpoints/ManagerEndpoints.cs
  backend/ContainerApp/Manager/Helpers/CookieHelper.cs
  backend/ContainerApp/Manager/Manager.csproj
  backend/ContainerApp/Manager/Models/Auth/JwtSettings.cs
  backend/ContainerApp/Manager/Models/Auth/LoginRequest.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Services/AuthService.cs
  backend/ContainerApp/Manager/Services/IAuthService.cs
  backend/ContainerApp/Manager/appsettings.json
Labels: backend

#375 shirley/374/update-WORKFLOW
  frontend/WORKFLOW.md
Labels: frontend

#372 ouriel/287//add-Use-ttl-and-cancellationtoken-in-azurespeechsynthesisservice
  backend/ContainerApp/Engine/Endpoints/AiEndpoints.cs
  backend/ContainerApp/Engine/Models/Speech/AzureSpeechSettings.cs
  backend/ContainerApp/Engine/Services/AzureSpeechSynthesisService.cs
  backend/ContainerApp/Manager/Endpoints/AiEndpoints.cs
  backend/ContainerApp/Manager/Services/Clients/Engine/EngineClient.cs
Labels: backend

#362 queue patch
  backend/ContainerApp/dapr/components/manager-callback-queue-out.yaml
  devops/kubernetes/charts/templates/dapr/manager-callback-queue-out.yaml
  devops/kubernetes/dapr/components/accessor-queue-in.yaml
  devops/kubernetes/dapr/components/accessor-queue-out.yaml
  devops/kubernetes/dapr/components/clientcallback.yaml
  devops/kubernetes/dapr/components/dapr-config.yaml
  devops/kubernetes/dapr/components/engine-queue-in.yaml
  devops/kubernetes/dapr/components/engine-queue-out.yaml
  devops/kubernetes/dapr/components/manager-callback-queue-in.yaml
  devops/kubernetes/dapr/components/manager-callback-queue-out.yaml
  devops/kubernetes/dapr/components/secretstore.yaml
  devops/kubernetes/dapr/components/statestore.yaml
Labels: devops

#359 Daniel Strauss/340/Update manager to use DotQueue for listening queues
  backend/ContainerApp/Manager/Endpoints/ManagerQueueHandler.cs
  backend/ContainerApp/Manager/Manager.csproj
  backend/ContainerApp/Manager/Messaging/AzureServiceBusQueueListener.cs
  backend/ContainerApp/Manager/Messaging/Exceptions.cs
  backend/ContainerApp/Manager/Messaging/IQueueHandler.cs
  backend/ContainerApp/Manager/Messaging/IQueueListener.cs
  backend/ContainerApp/Manager/Messaging/IRetryPolicyProvider.cs
  backend/ContainerApp/Manager/Messaging/QueueProcessor.cs
  backend/ContainerApp/Manager/Messaging/QueueSettings.cs
  backend/ContainerApp/Manager/Messaging/ServiceCollectionExtensions.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Endpoints/ManagerQueueHandlerTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Messaging/QueueProcessorTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Messaging/RetryPolicyProviderTests.cs
Labels: backend

#308 Snir/reduce memory
  devops/helm-tools/grafana.sh
  devops/helm-tools/prometheus/prometheus.sh
Labels: devops

#369 Daniel strauss/285/use appsettings.json and appsettings.local.json for integration tests instead of env
  backend/ContainerApp/Manager/appsettings.json
  backend/IntegrationTest/Constants/ApiRoutes.cs
  backend/IntegrationTest/Infrastructure/AccessorHttpTestFixture.cs
  backend/IntegrationTest/Infrastructure/AccessorIntegrationTestBase.cs
  backend/IntegrationTest/Infrastructure/HttpTestFixture.cs
  backend/IntegrationTest/Infrastructure/IntegrationTestBase.cs
  backend/IntegrationTest/Infrastructure/SignalRTestFixture.cs
  backend/IntegrationTest/IntegrationTests.csproj
  backend/IntegrationTest/Models/ChatMessageDto.cs
  backend/IntegrationTest/Models/ChatMessageRequest.cs
  backend/IntegrationTest/Models/ChatThreadDto.cs
  backend/IntegrationTest/Models/ThreadSummaryDto.cs
  backend/IntegrationTest/Properties/launchSettings.json
  backend/IntegrationTest/Tests/Chat/ChatHistoryIntegrationTests.cs
  backend/IntegrationTest/appsettings.json
Labels: backend

#388 Daniel/129/cypress test ai
  frontend/README.md
  frontend/cypress.config.ts
  frontend/cypress/e2e/animeExplorer.cy.ts
  frontend/cypress/e2e/auth.cy.ts
  frontend/cypress/e2e/avatarDa.cy.ts
  frontend/cypress/e2e/avatarOu.cy.ts
  frontend/cypress/e2e/avatarSh.cy.ts
  frontend/cypress/e2e/chatDa.cy.ts
  frontend/cypress/e2e/chatOu.cy.ts
  frontend/cypress/e2e/chatYo.cy.ts
  frontend/cypress/e2e/earthquakeMap.cy.ts
  frontend/cypress/e2e/i18n.cy.ts
  frontend/cypress/e2e/speakingPractice.cy.ts
  frontend/cypress/e2e/typingPractice.cy.ts
  frontend/cypress/e2e/weather.cy.ts
  frontend/cypress/e2e/wordOrderGame.cy.ts
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/cypress/support/index.d.ts
  frontend/cypress/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ReactChatElements/index.tsx
  frontend/src/components/SidebarMenu/index.tsx
  frontend/src/features/anime-explorer/__tests__/__snapshots__/AnimeExplorer.test.tsx.snap
  frontend/src/features/anime-explorer/components/Header/index.tsx
  frontend/src/features/anime-explorer/index.tsx
  frontend/src/features/avatar/avatar-da/components/Avatar/index.tsx
  frontend/src/features/avatar/avatar-ou/index.tsx
  frontend/src/features/avatar/avatar-sh/index.tsx
  frontend/src/features/chat/chat-da/__tests__/__snapshots__/ChatDa.test.tsx.snap
  frontend/src/features/chat/chat-da/components/ChatInput/icons/SendIcon.tsx
  frontend/src/features/chat/chat-da/components/ChatInput/index.tsx
  frontend/src/features/chat/chat-da/components/ChatMessage/index.tsx
  frontend/src/features/chat/chat-ou/components/MessageInput/index.tsx
  frontend/src/features/chat/chat-yo/__tests__/__snapshots__/ChatYo.test.tsx.snap
  frontend/src/features/chat/chat-yo/index.tsx
  frontend/src/features/earthquake-map/index.tsx
  frontend/src/features/practice/speaking-practice/__tests__/__snapshots__/snapshot.jest.test.tsx.snap
  frontend/src/features/practice/speaking-practice/index.tsx
  frontend/src/features/practice/typing-practice/components/AudioControls/index.tsx
  frontend/src/features/practice/typing-practice/components/LevelSelection/index.tsx
  frontend/src/features/practice/typing-practice/hooks/useTypingPractice.ts
  frontend/src/features/practice/typing-practice/index.tsx
  frontend/src/features/practice/word-order-game/components/Game/index.tsx
  frontend/src/hooks/useAvatarSpeech.ts
  frontend/src/pages/AuthorizationPage/index.tsx
  frontend/src/pages/AvatarDaPage.tsx
  frontend/src/types/cypress/index.ts
  frontend/src/types/index.ts
  frontend/tsconfig.json
Labels: frontend

#384 Yonatan/215/country explorer using rest countries api
  frontend/src/App.tsx
  frontend/src/api/chat.ts
  frontend/src/components/SidebarMenu/index.tsx
  frontend/src/features/country-explorer/__tests__/CountryExplorer.test.tsx
  frontend/src/features/country-explorer/__tests__/__snapshots__/CountryExplorer.test.tsx.snap
  frontend/src/features/country-explorer/__tests__/format.test.ts
  frontend/src/features/country-explorer/api.ts
  frontend/src/features/country-explorer/components/Card/index.tsx
  frontend/src/features/country-explorer/components/Card/style.ts
  frontend/src/features/country-explorer/components/Filters/index.tsx
  frontend/src/features/country-explorer/components/Filters/style.ts
  frontend/src/features/country-explorer/components/index.ts
  frontend/src/features/country-explorer/hooks/index.ts
  frontend/src/features/country-explorer/hooks/useCountriesQuery.ts
  frontend/src/features/country-explorer/index.tsx
  frontend/src/features/country-explorer/style.ts
  frontend/src/features/country-explorer/utils/format.ts
  frontend/src/features/index.ts
  frontend/src/i18n/locale/LanguageSwitch.tsx
  frontend/src/i18n/locale/en.json
  frontend/src/i18n/locale/he.json
  frontend/src/pages/CountryExplorerPage.tsx
  frontend/src/pages/WordOrderGamePage.tsx
  frontend/src/pages/index.ts
Labels: frontend

#400 Shahar/321/csrf token system for refresh tokens
  backend/ContainerApp/Manager/Constants/AuthSettings.cs
  backend/ContainerApp/Manager/Endpoints/AuthEndpoints.cs
  backend/ContainerApp/Manager/Helpers/CookieHelper.cs
  backend/ContainerApp/Manager/Services/AuthService.cs
  backend/ContainerApp/Manager/appsettings.json
Labels: backend

#399 Update deploy workflow
  .github/workflows/deploy-frontend.yaml
  frontend/README.md
  frontend/src/features/country-explorer/__tests__/format.test.ts
  frontend/src/features/country-explorer/components/Card/index.tsx
  frontend/src/features/country-explorer/components/Filters/index.tsx
Labels: devops

#412 Update aks-helmcharts.yaml
  .github/workflows/aks-helmcharts.yaml
Labels: devops

#403 Yonatan/215/country explorer using rest countries api- **NEW**
  frontend/src/features/country-explorer/utils/format.test.ts
Labels: frontend

#415 Shirley/373/signal r integration post task
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/index.ts
  frontend/src/api/task.ts
  frontend/src/components/SidebarMenu/index.tsx
  frontend/src/context/SignalRContext.tsx
  frontend/src/context/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useSignalR.ts
  frontend/src/i18n/locale/en.json
  frontend/src/i18n/locale/he.json
  frontend/src/main.tsx
  frontend/src/pages/HomePages.tsx
  frontend/src/pages/SignalRPage/components/NotificationFeed/index.tsx
  frontend/src/pages/SignalRPage/components/TaskForm/index.tsx
  frontend/src/pages/SignalRPage/components/index.ts
  frontend/src/pages/SignalRPage/index.tsx
  frontend/src/pages/SignalRPage/style.ts
  frontend/src/pages/index.ts
  frontend/src/providers/index.ts
  frontend/src/providers/signalR-provider/index.tsx
  frontend/src/types/index.ts
  frontend/src/types/signalR/index.ts
Labels: frontend

#408 Add conditional check for artifact upload in frontend deployment work…
  .github/workflows/deploy-frontend.yaml
Labels: devops

#421 Yosef/test safe delete
  .github/workflows/deploy-frontend.yaml
Labels: devops

#431 Snir/purge old acr tags
  .github/workflows/acr-purge.yml
Labels: devops

#432 Fix environment name input for deploy-frontend job in full CICD workflow
  .github/workflows/full-cicd.yaml
Labels: devops

#430 benny/make postgres shared across Resource Groups
  .github/workflows/aks-helmcharts.yaml
  .github/workflows/aks-kubectl-apply.yaml
  .github/workflows/full-cicd.yaml
  .github/workflows/update-images.yaml
  devops/terraform/main.tf
  devops/terraform/modules/postgresql/main.tf
  devops/terraform/modules/postgresql/output.tf
  devops/terraform/modules/postgresql/variables.tf
  devops/terraform/outputs.tf
  devops/terraform/secrets.tf
  devops/terraform/terraform.tfvars.dev
  devops/terraform/terraform.tfvars.prod
  devops/terraform/terraform.tfvars.template
  devops/terraform/variables.tf
Labels: devops

#434 Yonatan/416/create base url for https teachin.westeurope.cloudapp.azure.com/api/dev all over the app
  frontend/src/api/chat.ts
  frontend/src/api/speech.ts
  frontend/src/api/task.ts
  frontend/src/features/chat/chat-yo/services/azure-openAI/index.ts
  frontend/src/features/chat/chat-yo/services/azure-openAI/index.tsx
  frontend/src/features/chat/chat-yo/services/index.ts
  frontend/tsconfig.json
Labels: frontend

#405 Add rate limiting handling, with setting inside appsettings
  backend/ContainerApp/Manager/Constants/AuthSettings.cs
  backend/ContainerApp/Manager/Endpoints/AuthEndpoints.cs
  backend/ContainerApp/Manager/Models/Auth/RefreshTokenRateLimitSettings.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Services/AuthService.cs
  backend/ContainerApp/Manager/appsettings.json
Labels: backend

#438 Add Azure Static Web Apps production slot deployment and ignore Kiro …
  .github/workflows/deploy-frontend.yaml
  .gitignore
Labels: devops

#427 shahar/420/get-all-users-endpoint
  backend/ContainerApp/Accessor/Endpoints/AccessorEndpoints.cs
  backend/ContainerApp/Accessor/Models/Users/UserData.cs
  backend/ContainerApp/Accessor/Services/AccessorService.cs
  backend/ContainerApp/Accessor/Services/IAccessorService.cs
  backend/ContainerApp/Manager/Endpoints/ManagerEndpoints.cs
  backend/ContainerApp/Manager/Models/Users/UserData.cs
  backend/ContainerApp/Manager/Services/Clients/AccessorClient.cs
  backend/ContainerApp/Manager/Services/Clients/IAccessorClient.cs
  backend/ContainerApp/Manager/Services/IManagerService.cs
  backend/ContainerApp/Manager/Services/ManagerService.cs
Labels: backend

#441 ..
  .github/workflows/deploy-frontend.yaml
  frontend/src/main.tsx
Labels: devops

#442 Hotfix yosef
  .github/workflows/deploy-frontend.yaml
  frontend/src/main.tsx
Labels: devops

#448 Fix route ambiguity
  backend/ContainerApp/Manager/Endpoints/ManagerEndpoints.cs
Labels: backend

#424 Snir/dapr observability options
  devops/helm-tools/prometheus/dashboards/dapr-metrics.json
  devops/helm-tools/prometheus/prometheus.sh
  devops/helm-tools/prometheus/values-prometheus-dapr.yaml
Labels: devops

#407 Add Azure SignalR support and remove emulator
  backend/ContainerApp/Manager/Manager.csproj
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/appsettings.json
  backend/ContainerApp/docker-compose.yml
  backend/ContainerApp/launchSettings.json
Labels: backend

#457 add signalr to manager in cloud
  devops/kubernetes/charts/templates/manager-deployment.yaml
  devops/kubernetes/charts/values.yaml
Labels: devops

#443 Shahar/324/ip ua mismatch handling
  backend/ContainerApp/Manager/Endpoints/AuthEndpoints.cs
  backend/ContainerApp/Manager/Models/Auth/Erros/ErrorCodes.cs
  backend/ContainerApp/Manager/Models/Auth/Erros/ErrorResponse.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Services/AuthService.cs
Labels: backend

#439 Daniel strauss/293/create example of periodic action (job), triggered by cron
  backend/ContainerApp/Accessor/Constants/StatsWindow.cs
  backend/ContainerApp/Accessor/Endpoints/StatsEndpoints.cs
  backend/ContainerApp/Accessor/Models/StatsSnapshot.cs
  backend/ContainerApp/Accessor/Program.cs
  backend/ContainerApp/Accessor/Services/AccessorService.cs
  backend/ContainerApp/Accessor/Services/IAccessorService.cs
  backend/ContainerApp/Manager/Constants/AppIds.cs
  backend/ContainerApp/Manager/Constants/StatsKeys.cs
  backend/ContainerApp/Manager/Endpoints/StatsPingEndpoints.cs
  backend/ContainerApp/Manager/Models/StatsSnapshot.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Services/Clients/AccessorClient.cs
  backend/ContainerApp/Manager/Services/Clients/IAccessorClient.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/AccessorUnitTests.csproj
  backend/ContainerApp/UnitTests/AccessorUnitTests/Endpoints/AccessorStatsEndpointsTests.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/Services/AccessorServiceStatsTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Endpoints/ManagerStatsPingEndpointsTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/ManagerUnitTests.csproj
  backend/ContainerApp/docker-compose.yml
  devops/kubernetes/charts/templates/cronjob-stats.yaml
  devops/kubernetes/charts/values.dev.yaml
  devops/kubernetes/charts/values.prod.yaml
  devops/kubernetes/charts/values.yaml
Labels: backend, devops

#476 return cleanup kv
  devops/terraform/main.tf
  devops/terraform/modules/aks/main.tf
  devops/terraform/modules/aks/variables.tf
  devops/terraform/variables.tf
Labels: devops

#470 Daniel Strauss/282/update all nugget packages to latest versions (backend, tests, integr…
  backend/ContainerApp/Accessor/Accessor.csproj
  backend/ContainerApp/ApiGateway/ApiGateway.csproj
  backend/ContainerApp/Engine/Engine.csproj
  backend/ContainerApp/EngineComponentTests/EngineComponentTests.csproj
  backend/ContainerApp/Manager/Manager.csproj
  backend/ContainerApp/UnitTests/AccessorUnitTests/AccessorUnitTests.csproj
  backend/ContainerApp/UnitTests/EngineUnitTests/EngineUnitTests.csproj
  backend/ContainerApp/UnitTests/ManagerUnitTests/ManagerUnitTests.csproj
  backend/IntegrationTest/IntegrationTests.csproj
Labels: backend

#426 Shahar/354/auth tests
  backend/ContainerApp/Accessor/Services/RefreshSessionService.cs
  backend/ContainerApp/Manager/Helpers/CookieHelper.cs
  backend/ContainerApp/Manager/Services/AuthService.cs
  backend/IntegrationTest/Constants/AuthRoutes.cs
  backend/IntegrationTest/Constants/TestConstants.cs
  backend/IntegrationTest/Fixtures/HttpTestFixture.cs
  backend/IntegrationTest/Fixtures/SharedTestCollection.cs
  backend/IntegrationTest/Fixtures/SharedTestFixture.cs
  backend/IntegrationTest/Fixtures/SignalRTestFixture.cs
  backend/IntegrationTest/Fixtures/TestUserFixture.cs
  backend/IntegrationTest/Helpers/CookieHelper.cs
  backend/IntegrationTest/Infrastructure/IntegrationTestBase.cs
  backend/IntegrationTest/IntegrationTests.csproj
  backend/IntegrationTest/Models/Auth/AccessTokenResponse.cs
  backend/IntegrationTest/Tests/Auth/AuthIntegrationTests.cs
  backend/IntegrationTest/Tests/Auth/AuthTestBase.cs
  backend/IntegrationTest/Tests/Tasks/TaskIntegrationTests.cs
  backend/IntegrationTest/Tests/Tasks/TaskTestBase.cs
Labels: backend

#486 Ouriel/280/create vitest cypress tests to your features
  frontend/apps/student/src/features/avatar/avatar-ou/__tests__/AvatarOu.test.tsx
  frontend/apps/student/src/features/avatar/avatar-ou/__tests__/__mocks__/index.ts
  frontend/apps/student/src/features/chat/chat-ou/__tests__/ChatOu.test.tsx
  frontend/apps/student/src/features/chat/chat-ou/__tests__/__mocks__/index.ts
  frontend/apps/student/src/features/chat/chat-ou/__tests__/__snapshots__/ChatOu.test.tsx.snap
  frontend/apps/student/src/features/practice/typing-practice/__tests__/TypingPractice.test.tsx
  frontend/apps/student/src/features/practice/typing-practice/__tests__/__mocks__/index.ts
  frontend/apps/student/src/features/practice/typing-practice/__tests__/__snapshots__/TypingPractice.test.tsx.snap
Labels: frontend

#469 Daniel strauss/277/split accessor endpoints into feature groups with prefixes
  backend/ContainerApp/Accessor/Endpoints/AccessorEndpoints.cs
  backend/ContainerApp/Accessor/Endpoints/AuthEndpoints.cs
  backend/ContainerApp/Accessor/Endpoints/ChatsEndpoints.cs
  backend/ContainerApp/Accessor/Endpoints/RefreshSessionEndpoints.cs
  backend/ContainerApp/Accessor/Endpoints/StatsEndpoints.cs
  backend/ContainerApp/Accessor/Endpoints/TasksEndpoints.cs
  backend/ContainerApp/Accessor/Endpoints/UsersEndpoints.cs
  backend/ContainerApp/Accessor/Program.cs
  backend/ContainerApp/Engine/Services/Clients/AccessorClient/AccessorClient.cs
  backend/ContainerApp/Engine/Services/EngineService.cs
  backend/ContainerApp/Manager/Services/AuthService.cs
  backend/ContainerApp/Manager/Services/Clients/AccessorClient.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/Endpoints/AccessorEndpointsTests.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/Endpoints/AccessorStatsEndpointsTests.cs
Labels: backend

#509 shirley/501/with-translation-storybook-decorator
  frontend/libs/ui/components/.storybook/decorators/index.ts
  frontend/libs/ui/components/.storybook/decorators/withTranslation.tsx
  frontend/libs/ui/components/.storybook/preview.ts
Labels: frontend, storybook

#529 ouriel/523/fix-chatResponse-type-to-camelCase-format
  backend/ContainerApp/Manager/Models/Chat/AIChatResponse.cs
  backend/ContainerApp/Manager/Services/NotificationService.cs
Labels: backend

#516 Ouriel/487/refactoring chat.ts to recive messages from signalr
  frontend/apps/student/src/api/chat.ts
  frontend/apps/student/src/hooks/useChat.ts
  frontend/apps/student/src/hooks/useSignalR.ts
  frontend/apps/student/src/main.tsx
  frontend/apps/student/src/pages/SignalRPage/components/NotificationFeed/index.tsx
  frontend/apps/student/src/pages/SignalRPage/index.tsx
  frontend/libs/app-providers/src/context/SignalRContext.tsx
  frontend/libs/app-providers/src/signalR-provider/index.tsx
  frontend/libs/app-providers/src/types/signalR/index.ts
Labels: frontend

#531 daniel/524/cypress-fix
  frontend/apps/student/cypress/e2e/users.cy.ts
  frontend/apps/student/cypress/support/e2e.ts
  frontend/apps/student/src/api/user.ts
  frontend/apps/student/src/features/users/__tests__/Users.test.tsx
  frontend/apps/student/src/features/users/__tests__/__snapshots__/Users.test.tsx.snap
  frontend/apps/student/src/features/users/components/UserListItem/index.tsx
  frontend/apps/student/src/features/users/components/UserListItem/style.ts
  frontend/apps/student/src/features/users/index.tsx
  frontend/apps/student/src/features/users/validation.ts
  frontend/libs/app-providers/src/i18n/locale/en.json
  frontend/libs/app-providers/src/i18n/locale/he.json
Labels: frontend

#532 Snir/423/cypress tests vitest tests are inside the workflow
  .github/workflows/deploy-frontend.yaml
  frontend/apps/student/project.json
  frontend/package.json
Labels: frontend, devops
