Repository ZionetLearning/learning-teachin-zionet, pull requests merged in 2025-09, with the labels that each got.

#548 Yonatan/517/refactor sidebar menu into a shared reusable component named app sidebar
  frontend/apps/student/src/components/SidebarMenu/index.tsx
  frontend/libs/ui/components/src/AppSidebar/index.tsx
  frontend/libs/ui/components/src/AppSidebar/style.ts
  frontend/libs/ui/components/src/index.ts
Labels: frontend

#564 fix skip_infra
  .github/workflows/aks-helmcharts.yaml
Labels: devops

#562 Benny/move gh secrets to kv
  .github/workflows/aks-helmcharts.yaml
  devops/kubernetes/charts/templates/engine-deployment.yaml
  devops/kubernetes/charts/templates/kv/externalsecrets-appsettings.yaml
  devops/kubernetes/charts/templates/manager-deployment.yaml
  devops/kubernetes/charts/values.yaml
Labels: devops

#533 Daniel Strauss/286/Compress base64
  backend/ContainerApp/Manager/Constants/CompressionDefaults.CS
  backend/ContainerApp/Manager/Endpoints/AiEndpoints.cs
  backend/ContainerApp/Manager/Models/Speech/SpeechMetadata.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Services/Clients/Engine/EngineClient.cs
Labels: backend

#569 Yonatan/557/move the users page and logic to admin instead of student
  frontend/apps/admin/src/App.css
  frontend/apps/admin/src/App.tsx
  frontend/apps/admin/src/api/index.ts
  frontend/apps/admin/src/api/user.ts
  frontend/apps/admin/src/components/SidebarMenu/index.tsx
  frontend/apps/admin/src/components/index.ts
  frontend/apps/admin/src/features/users/__tests__/Users.test.tsx
  frontend/apps/admin/src/features/users/__tests__/__snapshots__/Users.test.tsx.snap
  frontend/apps/admin/src/features/users/components/UserListItem/index.tsx
  frontend/apps/admin/src/features/users/components/UserListItem/style.ts
  frontend/apps/admin/src/features/users/components/index.ts
  frontend/apps/admin/src/features/users/index.tsx
  frontend/apps/admin/src/features/users/style.ts
  frontend/apps/admin/src/features/users/validation.ts
  frontend/apps/admin/src/index.css
  frontend/apps/admin/src/main.tsx
  frontend/apps/admin/src/pages/HomePage.tsx
  frontend/apps/admin/src/pages/UsersPage.tsx
  frontend/apps/admin/src/pages/index.ts
  frontend/apps/admin/src/test/setup.ts
  frontend/apps/admin/tsconfig.app.json
  frontend/apps/admin/vite.config.ts
  frontend/apps/student/src/App.tsx
  frontend/apps/student/src/api/index.ts
  frontend/apps/student/src/components/SidebarMenu/index.tsx
  frontend/apps/student/src/components/index.ts
  frontend/apps/student/src/features/index.ts
  frontend/apps/student/src/features/users/components/UserListItem/index.tsx
  frontend/apps/student/src/features/users/components/UserListItem/style.ts
  frontend/apps/student/src/features/users/components/index.ts
  frontend/apps/student/src/features/users/index.tsx
  frontend/apps/student/src/features/users/style.ts
  frontend/apps/student/src/features/users/validation.ts
  frontend/apps/student/src/pages/UsersPage.tsx
  frontend/apps/student/src/pages/index.ts
  frontend/libs/app-providers/src/types/auth/index.ts
  frontend/libs/ui/components/src/AppSidebar/style.ts
  frontend/libs/ui/components/src/index.ts
  frontend/libs/ui/components/src/layout/SidebarMenuLayout/index.tsx
  frontend/libs/ui/components/src/layout/index.ts
Labels: frontend

#585 Remove EngineService
  backend/ContainerApp/Engine/Endpoints/EngineQueueHandler.cs
  backend/ContainerApp/Engine/Program.cs
  backend/ContainerApp/Engine/Services/EngineService.cs
  backend/ContainerApp/Engine/Services/IEngineService.cs
  backend/ContainerApp/UnitTests/EngineUnitTests/Endpoints/EngineQueueHandlerTests.cs
Labels: backend

#588 rid aigatewayservice
  backend/ContainerApp/Engine/Models/AiRequestModel.cs
  backend/ContainerApp/Manager/Endpoints/AiEndpoints.cs
  backend/ContainerApp/Manager/Endpoints/ManagerQueueHandler.cs
  backend/ContainerApp/Manager/Models/AiRequestModel.cs
  backend/ContainerApp/Manager/Models/AiResponseModel.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Services/AiGatewayService.cs
  backend/ContainerApp/Manager/Services/IAiGatewayService.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Endpoints/AiEndpointsTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Endpoints/ManagerQueueHandlerTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Services/AiGatewayServiceTests.cs
Labels: backend

#568 Change cors to check the frontend cookies
  backend/ContainerApp/Accessor/Endpoints/RefreshSessionEndpoints.cs
  backend/ContainerApp/Accessor/Services/RefreshSessionService.cs
  backend/ContainerApp/Manager/Constants/AuthSettings.cs
  backend/ContainerApp/Manager/Endpoints/AuthEndpoints.cs
  backend/ContainerApp/Manager/Helpers/CookieHelper.cs
  backend/ContainerApp/Manager/Models/CorsSettings.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/Manager/Services/AuthService.cs
  backend/ContainerApp/Manager/appsettings.json
  backend/IntegrationTest/Tests/Auth/AuthIntegrationTests.cs
Labels: backend

#596 Daniel/502/ Use the Authorization endpoint for our login/signup
  frontend/apps/admin/src/api/user.ts
  frontend/apps/admin/src/features/users/__tests__/Users.test.tsx
  frontend/apps/admin/src/features/users/index.tsx
  frontend/apps/student/cypress/e2e/auth.cy.ts
  frontend/apps/student/cypress/support/commands.ts
  frontend/apps/student/src/features/avatar/avatar-da/__tests__/__mocks__/index.tsx
  frontend/libs/app-providers/src/api/auth/index.ts
  frontend/libs/app-providers/src/api/index.ts
  frontend/libs/app-providers/src/api/user/index.ts
  frontend/libs/app-providers/src/auth/index.ts
  frontend/libs/app-providers/src/auth/provider/index.tsx
  frontend/libs/app-providers/src/auth/utils.ts
  frontend/libs/app-providers/src/context/AuthContext.tsx
  frontend/libs/app-providers/src/i18n/locale/en.json
  frontend/libs/app-providers/src/i18n/locale/he.json
  frontend/libs/app-providers/src/index.ts
  frontend/libs/app-providers/src/types/auth/index.ts
  frontend/libs/app-providers/src/types/index.ts
  frontend/libs/app-providers/src/types/user/index.ts
  frontend/libs/authorization/src/AuthorizationPage/index.tsx
  frontend/libs/authorization/src/AuthorizationPage/style.ts
  frontend/libs/authorization/src/RequireAuth/index.tsx
Labels: frontend

#617 error handling in create user
  backend/ContainerApp/Manager/Services/Clients/Accessor/AccessorClient.cs
Labels: backend

#612 Daniel/555/global token injection
  frontend/apps/admin/src/api/user.ts
  frontend/apps/student/src/api/chat.ts
  frontend/apps/student/src/api/speech.ts
  frontend/apps/student/src/api/task.ts
  frontend/libs/app-providers/src/api/apiClient.ts
  frontend/libs/app-providers/src/api/auth/index.ts
  frontend/libs/app-providers/src/api/index.ts
  frontend/libs/app-providers/src/api/user/index.ts
  frontend/libs/app-providers/src/i18n/locale/en.json
  frontend/libs/app-providers/src/i18n/locale/he.json
  frontend/libs/authorization/src/AuthorizationPage/index.tsx
Labels: frontend

#621 Shirley/620/send user id while creating a user
  frontend/libs/app-providers/src/auth/provider/index.tsx
  frontend/libs/app-providers/src/types/user/index.ts
Labels: frontend

#631 keda workflow
  .github/workflows/aks-keda.yaml
Labels: devops

#640 Daniel/598/https locally
  frontend/apps/admin/vite.config.ts
  frontend/apps/student/cypress/e2e/auth.cy.ts
  frontend/apps/student/cypress/e2e/users.cy.ts
  frontend/apps/student/cypress/support/commands.ts
  frontend/apps/student/cypress/support/e2e.ts
  frontend/apps/student/cypress/tsconfig.json
  frontend/apps/student/vite.config.ts
  frontend/apps/teacher/src/main.tsx
  frontend/apps/teacher/vite.config.ts
  frontend/libs/app-providers/src/observability/app-insights/index.ts
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#641 build Integration/Unit tests
  backend/ContainerApp/UnitTests/AccessorUnitTests/Endpoints/UsersEndpointsTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Endpoints/UsersEndpointsTests.cs
  backend/IntegrationTest/Constants/ApiRoutes.cs
  backend/IntegrationTest/Helpers/TestDataHelper.cs
  backend/IntegrationTest/Tests/Users/UsersIntegrationTests.cs
  backend/IntegrationTest/Tests/Users/UsersTestBase.cs
Labels: backend

#647 fixing duplicate email test
  backend/IntegrationTest/Helpers/TestDataHelper.cs
  backend/IntegrationTest/Tests/Users/UsersIntegrationTests.cs
Labels: bug

#661 Shahar/639/change http to https using cookies
  backend/ContainerApp/Manager/Helpers/CookieHelper.cs
Labels: backend

#657 Add "stage" to KEEP_ALWAYS array in ACR purge workflow
  .github/workflows/acr-purge.yml
Labels: devops

#637 Ouriel/549/add a session queue for manager
  backend/ContainerApp/Accessor/Constants/QueueNames.cs
  backend/ContainerApp/Engine/Constants/QueueNames.cs
  backend/ContainerApp/Manager/Constants/QueueNames.cs
  backend/ContainerApp/Manager/Endpoints/ManagerQueueHandler.cs
  backend/ContainerApp/Manager/Endpoints/ManagerSessionQueueHandler.cs
  backend/ContainerApp/Manager/Manager.csproj
  backend/ContainerApp/Manager/Models/QueueMessages/SessionQueueMessage.cs
  backend/ContainerApp/Manager/Program.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Endpoints/ManagerQueueHandlerTests.cs
  backend/ContainerApp/backend.sln
  backend/ContainerApp/dapr/components/manager-callback-session-queue-out.yaml
  backend/ContainerApp/servicebus-emulator/config.json
Labels: backend

#665 Artur/call speech token api in client
  frontend/apps/student/src/api/speech.ts
  frontend/apps/student/src/features/practice/speaking-practice/index.tsx
Labels: frontend

#645 Yonatan/619/fill the profile page with real details
  frontend/apps/admin/src/api/user.ts
  frontend/apps/admin/src/components/SidebarMenu/index.tsx
  frontend/apps/admin/src/features/users/__tests__/Users.test.tsx
  frontend/apps/admin/src/features/users/components/UserListItem/index.tsx
  frontend/apps/admin/src/pages/ProfilePage.tsx
  frontend/apps/student/src/components/SidebarMenu/index.tsx
  frontend/apps/student/src/pages/ProfilePage.tsx
  frontend/apps/teacher/src/components/SidebarMenu/index.tsx
  frontend/apps/teacher/src/main.tsx
  frontend/apps/teacher/src/pages/ProfilePage.tsx
  frontend/libs/app-providers/src/api/user/index.ts
  frontend/libs/app-providers/src/auth/provider/index.tsx
  frontend/libs/app-providers/src/auth/utils.ts
  frontend/libs/app-providers/src/context/AuthContext.tsx
  frontend/libs/app-providers/src/types/auth/index.ts
  frontend/libs/ui/components/src/AppSidebar/index.tsx
  frontend/libs/ui/components/src/Profile/__tests__/Profile.test.tsx
  frontend/libs/ui/components/src/Profile/index.tsx
  frontend/libs/ui/components/src/Profile/style.ts
  frontend/package.json
Labels: frontend

#684 Ouriel/556/show chat history by using the real userid
  frontend/apps/student/src/api/chat.ts
  frontend/apps/student/src/components/ReactChatElements/index.tsx
  frontend/apps/student/src/components/ReactChatElements/style.ts
  frontend/apps/student/src/features/chat-with-avatar/components/ChatHistory/index.tsx
  frontend/apps/student/src/features/chat-with-avatar/components/ChatHistory/style.ts
  frontend/apps/student/src/features/chat-with-avatar/components/index.ts
  frontend/apps/student/src/features/chat-with-avatar/index.tsx
  frontend/apps/student/src/features/chat-with-avatar/style.ts
  frontend/apps/student/src/hooks/useChat.ts
  frontend/apps/student/src/types/chat/index.ts
  frontend/apps/student/src/types/index.ts
  frontend/libs/app-providers/src/i18n/locale/en.json
  frontend/libs/app-providers/src/i18n/locale/he.json
Labels: frontend

#704 Shirley/633/add hebrew level and language
  frontend/libs/app-providers/src/api/user/index.ts
  frontend/libs/app-providers/src/auth/provider/index.tsx
  frontend/libs/app-providers/src/i18n/locale/en.json
  frontend/libs/app-providers/src/i18n/locale/he.json
  frontend/libs/app-providers/src/types/user/index.ts
  frontend/libs/ui/components/src/Profile/index.tsx
Labels: frontend

#643 Daniel Strauss/545/Review idempotency of PUT, Delete methods in accessor. Create new design
  backend/ContainerApp/Accessor/DB/AccessorDbContext.cs
  backend/ContainerApp/Accessor/Endpoints/AccessorQueueHandler.cs
  backend/ContainerApp/Accessor/Endpoints/TasksEndpoints.cs
  backend/ContainerApp/Accessor/Models/UpdateTaskResult.cs
  backend/ContainerApp/Accessor/Services/Interfaces/ITaskService.cs
  backend/ContainerApp/Accessor/Services/TaskService.cs
  backend/ContainerApp/Manager/Endpoints/TasksEndpoints.cs
  backend/ContainerApp/Manager/Models/UpdateTaskNameResult.cs
  backend/ContainerApp/Manager/Services/Clients/Accessor/AccessorClient.cs
  backend/ContainerApp/Manager/Services/Clients/Accessor/IAccessorClient.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/AccessorService_ThreadsList_Approval.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/Endpoints/AccessorEndpointsTests.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/Endpoints/AccessorQueueHandlerTests.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/Services/AccessorServiceStatsTests.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/Services/AccessorServiceTests.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Endpoints/ManagerEndpointsTests.cs
  backend/IntegrationTest/Tests/Tasks/TaskIntegrationTests.cs
  backend/IntegrationTest/Tests/Tasks/TaskTestBase.cs
Labels: backend

#719 daniel/role-ui-fix
  frontend/libs/app-providers/src/auth/utils.ts
  frontend/libs/app-providers/src/types/auth/index.ts
Labels: bug, frontend

#699 Shahar/692/admin can change roles in update user
  backend/ContainerApp/Accessor/Models/Users/UpdateUserModel.cs
  backend/ContainerApp/Accessor/Models/Users/UserData.cs
  backend/ContainerApp/Accessor/Services/UserService.cs
  backend/ContainerApp/Manager/Endpoints/UsersEndpoints.cs
  backend/ContainerApp/Manager/Models/Users/UpdateUserModel.cs
  backend/ContainerApp/Manager/Models/Users/UserData.cs
  backend/ContainerApp/UnitTests/ManagerUnitTests/Endpoints/UsersEndpointsTests.cs
  backend/IntegrationTest/Tests/Users/UsersIntegrationTests.cs
  devops/helm-tools/loki/dashboards/auth-monitoring-dashboard.json
Labels: backend

#722 Refactor Azure speech token handling to streamline response structure…
  frontend/apps/student/src/api/speech.ts
  frontend/apps/student/src/features/practice/speaking-practice/index.tsx
  frontend/apps/student/src/hooks/useAvatarSpeech.ts
Labels: frontend

#721 Daniel Strauss/714/Update DotQueue package and refactor queue handlers
  backend/ContainerApp/Accessor/Accessor.csproj
  backend/ContainerApp/Accessor/Endpoints/AccessorQueueHandler.cs
  backend/ContainerApp/Engine/Endpoints/EngineQueueHandler.cs
  backend/ContainerApp/Engine/Engine.csproj
  backend/ContainerApp/Manager/Endpoints/ManagerQueueHandler.cs
  backend/ContainerApp/Manager/Manager.csproj
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/AccessorQueueHandler_Invalid_Approval.cs
  backend/ContainerApp/UnitTests/AccessorUnitTests/ApprovalTests/Approvals/AccessorQueueHandler_Invalid_Approval.Invalid_Message_Shapes_ErrorContract_Is_Approved.QueueHandler_UnknownAction.approved.json
  backend/ContainerApp/UnitTests/AccessorUnitTests/Endpoints/AccessorQueueHandlerTests.cs
  backend/ContainerApp/UnitTests/EngineUnitTests/Endpoints/EngineQueueHandlerTests.cs
Labels: backend

#740 Daniel/688/fix authorization
  frontend/apps/admin/src/App.tsx
  frontend/apps/admin/src/main.tsx
  frontend/apps/student/src/App.tsx
  frontend/apps/student/src/main.tsx
  frontend/apps/teacher/index.html
  frontend/apps/teacher/src/App.tsx
  frontend/apps/teacher/src/main.tsx
  frontend/libs/app-providers/src/auth/provider/index.tsx
  frontend/libs/app-providers/src/auth/utils.ts
  frontend/libs/app-providers/src/context/AuthContext.tsx
  frontend/libs/app-providers/src/i18n/locale/en.json
  frontend/libs/app-providers/src/i18n/locale/he.json
  frontend/libs/authorization/src/AuthorizationPage/index.tsx
  frontend/libs/authorization/src/AuthorizationPage/style.ts
  frontend/libs/authorization/src/RequireAuth/index.tsx
Labels: frontend

#694 Yonatan/654/word order game connect it to the backend
  frontend/apps/student/src/api/index.ts
  frontend/apps/student/src/api/sentence.ts
  frontend/apps/student/src/features/practice/word-order-game/components/ChosenWordsArea/index.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/ChosenWordsArea/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/Game/index.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/Game/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/GameHeaderSettings/index.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/GameHeaderSettings/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/SideButtons/index.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/SideButtons/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/Speaker/index.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/WelcomeScreen/index.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/WelcomeScreen/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/WordsBank/index.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/WordsBank/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/index.ts
  frontend/apps/student/src/features/practice/word-order-game/components/modals/GameConfigModal/index.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/modals/GameConfigModal/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/modals/GameOverModal/index.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/modals/GameOverModal/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/modals/index.ts
  frontend/apps/student/src/features/practice/word-order-game/hooks/index.ts
  frontend/apps/student/src/features/practice/word-order-game/hooks/useHebrewSentence.ts
  frontend/apps/student/src/hooks/useAvatarSpeech.ts
  frontend/apps/student/src/types/index.ts
  frontend/apps/student/src/types/word-order-game/index.ts
  frontend/libs/app-providers/src/i18n/locale/en.json
  frontend/libs/app-providers/src/i18n/locale/he.json
  frontend/libs/app-providers/src/types/signalR/index.ts
Labels: frontend

#739 ouriel/729/ug-in-hebrew-mode-chat-with-avatar
  frontend/apps/student/src/components/ReactChatElements/style.ts
  frontend/apps/student/src/features/chat-with-avatar/components/ChatHistory/style.ts
  frontend/apps/student/src/features/chat-with-avatar/index.tsx
  frontend/apps/student/src/features/chat-with-avatar/style.ts
  frontend/libs/app-providers/src/i18n/locale/he.json
Labels: bug, frontend

#772 Yonatan/770/Fix duplicate word handling in Word Order Game and optimize shuffleDistinct function
  frontend/apps/student/src/features/practice/word-order-game/components/Game/index.tsx
Labels: frontend

#775 Yonatan/755/Change our Sentry fallback of "Something went wrong" to a nice looking UI page of error
  frontend/apps/admin/src/main.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/Game/index.tsx
  frontend/apps/student/src/main.tsx
  frontend/apps/student/src/pages/HomePages.tsx
  frontend/apps/teacher/src/main.tsx
  frontend/libs/app-providers/src/i18n/locale/en.json
  frontend/libs/app-providers/src/i18n/locale/he.json
  frontend/libs/app-providers/src/observability/sentry/SentryErrorBoundary/index.tsx
  frontend/libs/app-providers/src/observability/sentry/SentryErrorBoundary/style.ts
  frontend/libs/app-providers/src/observability/sentry/index.ts
  frontend/libs/ui/components/src/ErrorFallback/index.tsx
  frontend/libs/ui/components/src/ErrorFallback/style.ts
  frontend/libs/ui/components/src/index.ts
Labels: frontend

#776 Daniel/752/Connect Speaking Practice to backend + move some of Word Order Game components to shared libs
  frontend/apps/student/cypress/e2e/speakingPractice.cy.ts
  frontend/apps/student/src/api/sentence.ts
  frontend/apps/student/src/features/practice/index.ts
  frontend/apps/student/src/features/practice/speaking-practice/SpeakingPractice.stories.tsx
  frontend/apps/student/src/features/practice/speaking-practice/index.tsx
  frontend/apps/student/src/features/practice/speaking-practice/style.ts
  frontend/apps/student/src/features/practice/speaking-practice/utils/index.ts
  frontend/apps/student/src/features/practice/speaking-practice/utils/phrases.ts
  frontend/apps/student/src/features/practice/utils.ts
  frontend/apps/student/src/features/practice/word-order-game/components/Game/index.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/GameHeaderSettings/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/index.ts
  frontend/apps/student/src/hooks/useAvatarSpeech.ts
  frontend/libs/app-providers/src/i18n/locale/en.json
  frontend/libs/app-providers/src/i18n/locale/he.json
  frontend/libs/app-providers/src/signalR-provider/index.tsx
  frontend/libs/ui/components/src/GameSettings/index.tsx
  frontend/libs/ui/components/src/GameSettings/style.ts
  frontend/libs/ui/components/src/GameSetupPanel/index.tsx
  frontend/libs/ui/components/src/GameSetupPanel/style.ts
  frontend/libs/ui/components/src/index.ts
  frontend/libs/ui/components/src/modals/GameConfigModal/index.tsx
  frontend/libs/ui/components/src/modals/GameConfigModal/style.ts
  frontend/libs/ui/components/src/modals/GameOverModal/index.tsx
  frontend/libs/ui/components/src/modals/GameOverModal/style.ts
  frontend/libs/ui/components/src/modals/index.ts
Labels: frontend

#788 Yonatan/754/add option to stop the sound of speaking avatar
  frontend/apps/student/src/components/ReactChatElements/index.tsx
  frontend/apps/student/src/features/chat-with-avatar/index.tsx
  frontend/apps/student/src/features/chat-with-avatar/style.ts
  frontend/apps/student/src/hooks/useAvatarSpeech.ts
  frontend/libs/app-providers/src/i18n/locale/en.json
  frontend/libs/app-providers/src/i18n/locale/he.json
Labels: frontend

#784 Comment out scheduled triggers in AKS workflow for clarity
  .github/workflows/aks-schedule.yaml
Labels: devops

#798 Daniel/695/Split Cypress tests ( admin - teacher - student )
  frontend/apps/admin-e2e/cypress.config.ts
  frontend/apps/admin-e2e/cypress/e2e/users.cy.ts
  frontend/apps/admin-e2e/cypress/support/e2e.ts
  frontend/apps/admin-e2e/cypress/tsconfig.json
  frontend/apps/admin-e2e/eslint.config.mjs
  frontend/apps/admin-e2e/project.json
  frontend/apps/student-e2e/cypress.config.ts
  frontend/apps/student-e2e/cypress/e2e/animeExplorer.cy.ts
  frontend/apps/student-e2e/cypress/e2e/auth.cy.ts
  frontend/apps/student-e2e/cypress/e2e/avatarDa.cy.ts
  frontend/apps/student-e2e/cypress/e2e/avatarOu.cy.ts
  frontend/apps/student-e2e/cypress/e2e/avatarSh.cy.ts
  frontend/apps/student-e2e/cypress/e2e/chatDa.cy.ts
  frontend/apps/student-e2e/cypress/e2e/chatOu.cy.ts
  frontend/apps/student-e2e/cypress/e2e/chatYo.cy.ts
  frontend/apps/student-e2e/cypress/e2e/countryExplorer.cy.ts
  frontend/apps/student-e2e/cypress/e2e/earthquakeMap.cy.ts
  frontend/apps/student-e2e/cypress/e2e/i18n.cy.ts
  frontend/apps/student-e2e/cypress/e2e/speakingPractice.cy.ts
  frontend/apps/student-e2e/cypress/e2e/typingPractice.cy.ts
  frontend/apps/student-e2e/cypress/e2e/weather.cy.ts
  frontend/apps/student-e2e/cypress/e2e/wordOrderGame.cy.ts
  frontend/apps/student-e2e/cypress/support/e2e.ts
  frontend/apps/student-e2e/cypress/tsconfig.json
  frontend/apps/student-e2e/eslint.config.mjs
  frontend/apps/student-e2e/project.json
  frontend/apps/student/cypress/fixtures/example.json
  frontend/apps/student/cypress/support/e2e.ts
  frontend/apps/student/cypress/support/index.d.ts
  frontend/apps/teacher-e2e/cypress.config.ts
  frontend/apps/teacher-e2e/cypress/support/e2e.ts
  frontend/apps/teacher-e2e/cypress/tsconfig.json
  frontend/apps/teacher-e2e/eslint.config.mjs
  frontend/apps/teacher-e2e/project.json
  frontend/libs/test-utils/README.md
  frontend/libs/test-utils/cypress/support/commands.ts
  frontend/libs/test-utils/cypress/support/cypress-commands.d.ts
  frontend/libs/test-utils/cypress/support/helpers.ts
  frontend/libs/test-utils/cypress/support/index.ts
  frontend/libs/test-utils/eslint.config.mjs
  frontend/libs/test-utils/project.json
  frontend/libs/test-utils/tsconfig.json
  frontend/package.json
  frontend/tsconfig.base.json
Labels: frontend

#796 natali/795/send-attemptid-to-the-frontend
  backend/ContainerApp/Accessor/Endpoints/GamesEndpoints.cs
  backend/ContainerApp/Accessor/Services/GameService.cs
  backend/ContainerApp/Accessor/Services/Interfaces/IGameService.cs
  backend/ContainerApp/Manager/Endpoints/ManagerQueueHandler.cs
  backend/ContainerApp/Manager/Services/Clients/Accessor/AccessorClient.cs
  backend/ContainerApp/Manager/Services/Clients/Accessor/IAccessorClient.cs
Labels: backend

#811 Delete on configuring method
  backend/ContainerApp/Accessor/DB/AccessorDbContext.cs
Labels: bug, backend

#813 Change splitSentenceResponse model
  backend/IntegrationTest/Models/Ai/Sentences/SplitSentenceResponse.cs
  backend/IntegrationTest/Tests/AI/SentenceGeneratorTest.cs
Labels: backend

#799 Ouriel/716/streaming chat front
  backend/ContainerApp/Engine/Endpoints/EngineQueueHandler.cs
  backend/ContainerApp/Engine/Engine.csproj
  backend/ContainerApp/Engine/Helpers/StreamingChatAIBatcher .cs
  backend/ContainerApp/Engine/Models/Chat/ChatAiStreamDelta.cs
  backend/ContainerApp/Engine/Models/Chat/ChatStreamStage.cs
  backend/ContainerApp/Engine/Models/Chat/EngineChatStreamResponse.cs
  backend/ContainerApp/Engine/Models/QueueMessages/SessionQueueMessage.cs
  backend/ContainerApp/Engine/Services/AiReplyPublisher.cs
  backend/ContainerApp/Engine/Services/ChatAiService.cs
  backend/ContainerApp/Engine/Services/IAiReplyPublisher.cs
  backend/ContainerApp/Engine/Services/IChatAiService.cs
  backend/ContainerApp/EngineComponentTests/EngineComponentTests.csproj
  backend/ContainerApp/Manager/AutoMapperProfile.cs
  backend/ContainerApp/Manager/Endpoints/ManagerSessionQueueHandler.cs
  backend/ContainerApp/Manager/Hubs/INotificationClient.cs
  backend/ContainerApp/Manager/Manager.csproj
  backend/ContainerApp/Manager/Models/Chat/AIChatStreamResponse.cs
  backend/ContainerApp/Manager/Models/Chat/ChatStreamStage.cs
  backend/ContainerApp/Manager/Models/Notifications/StreamEvent.cs
  backend/ContainerApp/Manager/Services/INotificationService.cs
  backend/ContainerApp/Manager/Services/NotificationService.cs
  backend/ContainerApp/UnitTests/EngineUnitTests/Endpoints/EngineQueueHandlerTests.cs
  backend/IntegrationTest/Fixtures/SignalRTestFixture.cs
  backend/IntegrationTest/Models/Notification/StreamEvent.cs
  backend/IntegrationTest/Tests/AI/AiChatTestBase.cs
  backend/IntegrationTest/Tests/AI/ChatIntegrationTests.cs
  frontend/apps/student/src/api/chat.ts
  frontend/apps/student/src/components/ReactChatElements/index.tsx
  frontend/apps/student/src/components/ReactChatElements/style.ts
  frontend/apps/student/src/hooks/useChat.ts
  frontend/apps/student/src/types/chat/index.ts
  frontend/libs/app-providers/src/signalR-provider/index.tsx
  frontend/libs/app-providers/src/types/signalR/index.ts
Labels: frontend, backend

#815 Shirley/789/game api
  frontend/apps/student/src/api/game.ts
  frontend/apps/student/src/api/index.ts
  frontend/apps/student/src/features/practice/word-order-game/components/ActionButtons/index.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/ActionButtons/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/ChosenWordsArea/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/Game/index.tsx
  frontend/apps/student/src/features/practice/word-order-game/components/Game/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/WordsBank/style.ts
  frontend/apps/student/src/features/practice/word-order-game/components/index.ts
  frontend/apps/student/src/features/practice/word-order-game/hooks/useHebrewSentence.ts
  frontend/libs/app-providers/src/i18n/locale/en.json
  frontend/libs/app-providers/src/i18n/locale/he.json
  frontend/libs/app-providers/src/types/signalR/index.ts
  frontend/libs/ui/components/src/modals/GameConfigModal/index.tsx
Labels: frontend

#806 Snir/743/connect lock environment workflow to anothers workflows
  .github/workflows/aks-helmcharts.yaml
  .github/workflows/lock-environment.yaml
  .github/workflows/update-images.yaml
Labels: devops
